.graph{
  height: 100vh;
  .graph-gradient{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
  }
  .graphSvg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    .graph-svg-inner{
      width: 100%;
      position: absolute;
    }
  }
  .sunburst {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-size: 12px;
    text-anchor: middle;
    svg {

      path{
        &.subject-active{
          fill: $red;
        }
        &.verb-active{
          fill: $blue;
        }
        &.object-active{
          fill: $purple;
        }
      }
    }
    .sunburst-desc{
      fill: $red;
      font-size: 20px;
      tspan:last-child{
        fill: $black;
        font-size: 16px;
      }
    }
  }
  .sentences{
    position: absolute;
    height: 100px;
    right: 0;
    left: 0;
    display: flex;
    text-align: center;
    width: 600px;
    margin: 70px auto 0;
    align-items: center;
    justify-content: center;
    //text-transform: uppercase;
    font-size: 22px;
    color: #444444;
    //overflow: scroll;
    mix-blend-mode: color-burn;
    p{
      animation: fadeIn 1s forwards;
    }
  }
}

.sentence-boxes{
  animation: fadeIn 1s forwards;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes fadeIn{
  0%{
    display: none;
    opacity: 0;
  }
  50%{
    display: block;
    opacity: 0;
  }
  100%{
    display: block;
    opacity: 1;
  }
}

.boxes-container{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    pointer-events: none;
  .box{
    width: 180px;
    padding: 20px;
    box-shadow: 0 11px 57px 0 rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    .image{
      height: 38px;
      width: 38px;
      display: block;
      margin: auto;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .title{
      text-align: center;
      position: relative;
      &:after{
        content: "";
        position: absolute;
        display: block;
        right: 0;
        left: 0;
        width: 25px;
        margin: 10px auto 0 auto;
        height: 3px;
        border-radius: 2.5px;
        background: $purple;
      }
    }
  }
}
.boxes-container-1{
  left: 100px;
}
.boxes-container-2{
  right: 100px;
}