$spaces:10, 20, 30, 40, 50, 100,130;
$sides: (top, bottom, left, right);
$loaderEasing: cubic-bezier(0.25, 0.10, 0.25, 1.00);

@each $space in $spaces {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$side}: #{$space}px !important;
        }
    
        .p#{str-slice($side, 0, 1)}-#{$space} {
        padding-#{$side}: #{$space}px !important;
        }
    }
}

a{
    text-decoration: none;
    color: inherit;
}
.container{
    max-width: 1400px !important;
    width: auto !important;
    margin: auto;
}
.d-flex{
    display: flex;
}
.ta-c{
    text-align: center;
}
.jc-end{
    justify-content: flex-end;
}
.jc-center{
    justify-content: center;
}
.ai-end{
    align-items: flex-end;
}
.jc-between{
    justify-content: space-between;
}
.text-xxl{
    font-size: 58px;
}
.text-xl{
    font-size: 46px;
}
.text-lg{
    font-size: 28px;
}
.text-md{
    font-size: 18px;
}
.text-sm{
    font-size: 14px;
    line-height: 1.79em;
}
.c-grey{
    color: $grey;
}

@include keyframes(animeFirstCircle){
    0%{
        width: 112px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0;
    }
    12.5%{
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0;
    }
    25%{
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0;
    }
    37.5%{
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0;
    }
    50%{
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0;
    }
    62.5%{
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0;
    }
    75%{
        width: 48px;
        height: 112px;
        margin-top: 0;
        margin-left: 0;
    }
    87.5%{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 0;
    }
    100%{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 0;
    }
}

@include keyframes(animeSecondCircle){
    0%{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 0;
    }
    12.5%{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 0;
    }
    25%{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 0;
    }
    37.5%{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 0;
    }
    50%{
        width: 112px;
        height: 48px;
        margin-top: 0;
        margin-left: 0;
    }
    62.5%{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 64px;
    }
    75%{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 64px;
    }
    87.5%{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 64px;
    }
    100%{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 64px;
    }
}

@include keyframes(animeThirdCircle){
    0%{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 64px;
    }
    12.5%{
        width: 48px;
        height: 48px;
        margin-top: 0;
        margin-left: 64px;
    }
    25%{
        width: 48px;
        height: 112px;
        margin-top: 0;
        margin-left: 64px;
    }
    37.5%{
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }
    50%{
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }
    62.5%{
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }
    75%{
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }
    87.5%{
        width: 48px;
        height: 48px;
        margin-top: 64px;
        margin-left: 64px;
    }
    100%{
        width: 112px;
        height: 48px;
        margin-top: 64px;
        margin-left: 0;
    }
}

